@import "tailwindcss"; /* src/index.css or src/styles.css */

@theme {
    --color-custom-gold: rgb(255, 192, 0);
    --color-custom-gold-75: rgb(255, 217, 102);
    --color-custom-gold-50: rgb(255, 230, 153);
    --color-custom-gold-25: rgb(255, 242, 204);
}